{
  "Identity": {{ ipfs_identity | to_nice_json }},
  "Datastore": {
    {% for dict_item in ipfs_datastore %}
      dict_item
    {% endfor %}
    "Spec": {
      "mounts": [
        {
          "child": {
            "path": "blocks",
            "shardFunc": "/repo/flatfs/shard/v1/next-to-last/{{ ipfs_datastore_spec.shardFunc }}",
            "sync": {{ ipfs_datastore_spec.sync | to_json }},
            "type": "flatfs"
          },
          "mountpoint": "/blocks",
          "prefix": "flatfs.datastore",
          "type": "measure"
        },
        {
          "child": {
            "compression": "none",
            "path": "datastore",
            "type": "levelds"
          },
          "mountpoint": "/",
          "prefix": "leveldb.datastore",
          "type": "measure"
        }
      ],
      "type": "mount"
    }
  },
  "Addresses": {{ ipfs_addresses | to_nice_json }},
  "Mounts": {
    "IPFS": "/ipfs",
    "IPNS": "/ipns",
    "FuseAllowOther": false
  },
  "Discovery": {
    "MDNS": {{ ipfs_discovery_mdns | to_nice_json }}
  },
  "Routing": {{ ipfs_routing | to_nice_json }},
  "Ipns": {
    "RepublishPeriod": "",
    "RecordLifetime": "",
    "ResolveCacheSize": 128
  },
  "Bootstrap": {{ ipfs_bootstrap | to_nice_json(indent=2) | indent(4) }},
  "Gateway": {
    "HTTPHeaders": {
      "Access-Control-Allow-Headers": [
        "X-Requested-With",
        "Range",
        "User-Agent"
      ],
      "Access-Control-Allow-Methods": [ "GET" ],
      "Access-Control-Allow-Origin": [ "*" ]
    },
    {% for dict_item in ipfs_gateway %}
      dict_item
    {% endfor %}
  },
  "API": {{ ipfs_api | to_nice_json }},
  "Swarm": {{ ipfs_swarm | to_nice_json }},
  "AutoNAT": {},
  "Pubsub": {
    "DisableSigning": false,
    "Router": ""
  },
  "Peering": {
    "Peers": null
  },
  "DNS": {
    "Resolvers": {}
  },
  "Migration": {
    "DownloadSources": [],
    "Keep": ""
  },
  "Provider": {
    "Strategy": ""
  },
  "Reprovider": {{ ipfs_reprovider | to_nice_json }},
  "Experimental": {{ ipfs_experimental | to_nice_json }},
  "Plugins": {
    "Plugins": null
  },
  "Pinning": {
    "RemoteServices": {}
  },
  "Internal": {{ ipfs_internal | to_nice_json }}
}